apiVersion: v1
kind: Service
metadata:
  name: postgres-service
  namespace: {{ .Values.namespace }}
spec:
  selector:
    app: webapp
    tier: database
  ports:
    - name: postgres-port
      port: 5432
      protocol: TCP
