apiVersion: v1
kind: Service
metadata:
  name: adminer-service
  namespace: {{ .Values.namespace }}
spec:
  selector:
    app: webapp
    tier: frontend
  ports:
    - name: adminer-port
      port: 8080
      protocol: TCP
